/* rem */
.mr10rem {
    margin-right: 1rem;
}
.mr20rem {
    margin-right: 2rem;
}
.mr30rem {
    margin-right: 3rem;
}
.mr40rem {
    margin-right: 4rem;
}
.mr50rem {
    margin-right: 5rem;
}
.mr60rem {
    margin-right: 6rem;
}
.mr70rem {
    margin-right: 7rem;
}

.mb10rem {
    margin-bottom: 1rem;
}
.mb20rem {
    margin-bottom: 2rem;
}
.mb30rem {
    margin-bottom: 3rem;
}
.mb40rem {
    margin-bottom: 4rem;
}
.mb50rem {
    margin-bottom: 5rem;
}
.mb60rem {
    margin-bottom: 6rem;
}
.mb70rem {
    margin-bottom: 7rem;
}
.mb80rem {
    margin-bottom: 8rem;
}

.pb10rem {
    padding-bottom: 1rem;
}
.pb20rem {
    padding-bottom: 2rem;
}
.pb30rem {
    padding-bottom: 3rem;
}
.pb40rem {
    padding-bottom: 4rem;
}
.pb50rem {
    padding-bottom: 5rem;
}
.pb60rem {
    padding-bottom: 6rem;
}


/* px */
.mr10 {
    margin-right: 10px;
}
.mr20 {
    margin-right: 20px;
}
.mr30 {
    margin-right: 30px;
}
.mr40 {
    margin-right: 40px;
}
.mr50 {
    margin-right: 50px;
}
.mr60 {
    margin-right: 60px;
}

.mb10 {
    margin-bottom: 10px;
}
.mb20 {
    margin-bottom: 20px;
}
.mb30 {
    margin-bottom: 30px;
}
.mb40 {
    margin-bottom: 40px;
}
.mb50 {
    margin-bottom: 50px;
}
.mb60 {
    margin-bottom: 60px;
}
.mb70 {
    margin-bottom: 70px;
}
.mb80 {
    margin-bottom: 80px;
}

.pb10 {
    padding-bottom: 10px;
}
.pb20 {
    padding-bottom: 20px;
}
.pb30 {
    padding-bottom: 30px;
}
.pb40 {
    padding-bottom: 40px;
}
.pb50 {
    padding-bottom: 50px;
}
.pb60 {
    padding-bottom: 60px;
}

.ml_10 {
    margin-left: 10px;
}
.ml_20 {
    margin-left: 20px;
}
.ml_30 {
    margin-left: 30px;
}
.ml_40 {
    margin-left: 40px;
}
.ml_50 {
    margin-left: 50px;
}
.ml_60 {
    margin-left: 60px;
}
.ml_70 {
    margin-left: 70px;
}

.pl10 {
    padding-left: 10px;
}
.pl20 {
    padding-left: 20px;
}
.pl30 {
    padding-left: 30px;
}
.pl40 {
    padding-left: 40px;
}
.pl50 {
    padding-left: 50px;
}
.pl60 {
    padding-left: 60px;
}