.mr10rem {
    margin-right: 1rem;
}
.mr20rem {
    margin-right: 2rem;
}
.mr30rem {
    margin-right: 3rem;
}
.mr40rem {
    margin-right: 4rem;
}
.mr50rem {
    margin-right: 5rem;
}
.mr60rem {
    margin-right: 6rem;
}
.mr70rem {
    margin-right: 7rem;
}

.mb10rem {
    margin-bottom: 1rem;
}
.mb20rem {
    margin-bottom: 2rem;
}
.mb30rem {
    margin-bottom: 3rem;
}
.mb40rem {
    margin-bottom: 4rem;
}
.mb50rem {
    margin-bottom: 5rem;
}
.mb60rem {
    margin-bottom: 6rem;
}
.mb70rem {
    margin-bottom: 7rem;
}
.mb80rem {
    margin-bottom: 8rem;
}

/* rem */

.mr10 {
    margin-right: 10px;
}
.mr20 {
    margin-right: 20px;
}
.mr30 {
    margin-right: 30px;
}
.mr40 {
    margin-right: 40px;
}
.mr50 {
    margin-right: 50px;
}
.mr60 {
    margin-right: 60px;
}

.mb10 {
    margin-bottom: 10px;
}
.mb20 {
    margin-bottom: 20px;
}
.mb30 {
    margin-bottom: 30px;
}
.mb40 {
    margin-bottom: 40px;
}
.mb50 {
    margin-bottom: 50px;
}
.mb60 {
    margin-bottom: 60px;
}
.mb70 {
    margin-bottom: 70px;
}
.mb80 {
    margin-bottom: 80px;
}

.ml_10 {
    margin-left: 10px;
}
.ml_20 {
    margin-left: 20px;
}
.ml_30 {
    margin-left: 30px;
}
.ml_40 {
    margin-left: 40px;
}
.ml_50 {
    margin-left: 50px;
}
.ml_60 {
    margin-left: 60px;
}
.ml_70 {
    margin-left: 70px;
}
.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mt30 {
    margin-top: 30px;
}
.mt40 {
    margin-top: 40px;
}
.mt50 {
    margin-top: 50px;
}
.mt60 {
    margin-top: 60px;
}
.mt70 {
    margin-top: 70px;
}
.mt80 {
    margin-top: 80px;
}
.mt90 {
    margin-top: 90px;
}
.mt100 {
    margin-top: 100px;
}

// 패딩
.pb10rem {
    padding-bottom: 1rem;
}
.pb20rem {
    padding-bottom: 2rem;
}
.pb30rem {
    padding-bottom: 3rem;
}
.pb40rem {
    padding-bottom: 4rem;
}
.pb50rem {
    padding-bottom: 5rem;
}
.pb60rem {
    padding-bottom: 6rem;
}

.pb10 {
    padding-bottom: 10px;
}
.pb20 {
    padding-bottom: 20px;
}
.pb30 {
    padding-bottom: 30px;
}
.pb40 {
    padding-bottom: 40px;
}
.pb50 {
    padding-bottom: 50px;
}
.pb60 {
    padding-bottom: 60px;
}

.pt10 {
    padding-top: 10px;
}
.pt20 {
    padding-top: 20px;
}
.pt30 {
    padding-top: 30px;
}
.pt40 {
    padding-top: 40px;
}
.pt50 {
    padding-top: 50px;
}
.pt60 {
    padding-top: 60px;
}
.pt70 {
    padding-top: 70px;
}
.pt80 {
    padding-top: 80px;
}
.pt90 {
    padding-top: 90px;
}
.pt100 {
    padding-top: 100px;
}
