*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul,
figure,
figcaption {
    margin: 0;
    padding: 0;
}

body,
button,
input,
select,
table,
textarea {
    font-family: var(--mainfont-nanum), var(--mainfont-nexon),
        "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", helvetica,
        sans-serif;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

ul {
    list-style: none;
}

em,
address {
    font-style: normal;
}

strong {
    font-weight: normal;
}

img {
    vertical-align: top;
    width: 100%;
}

input,
textarea,
button,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    font-size: 16px;
    border: 0;
}

#skip a {
    position: absolute;
    left: 10px;
    top: -92px;
    z-index: 100000;
    font-size: 1rem;
    padding: 10px 30px;
    color: var(--white);
    background: var(--black);
}
#skip a:focus,
#skip a:active {
    top: 10px;
}

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
/* 
(Image Replacement) */

.ir {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    white-space: nowrap;
}
/* skip */
#skip {
    position: relative;
    z-index: 1000000;
}
#skip a {
    background-color: #000;
    color: #fff;
    position: absolute;
    left: -400px;
    top: 0;
    padding: 20px 40px;
}
#skip a:active,
#skip a:focus {
    left: 0;
}

body {
}
/* 스크롤바 레슨과 두께 변경 */
::-webkit-scrollbar {
    width: 1px;
}
#wrap {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 650px) {
    #wrap {
    }
}

/* 스크롤바 막대 색상 및 모양 변경 */
::-webkit-scrollbar-thumb {
    background: white; /* 스크롤바 막대 색상 */
    border: 1px solid white; /* 스크롤바 막대 테두리 설정 */
}

/* 스크롤바 막대에 호버 효과 적용 */
::-webkit-scrollbar-thumb:hover {
    background-color: white;
}

/* 스크롤바 뒷 배경 색상 변경 */
::-webkit-scrollbar-track {
    background: white;
}
