:root {
    --dela: 'Dela Gothic One';
    --marc: 'Marcellus';
    --shrik: 'Shrikhand';
    --pre: 'Pretendard-Regular';

    --mainfont-Shrikhand: 'Shrikhand';
    font-family: 'Shrikhand', serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --black: #000;
    --black100: #333;
    --black200: #d9d9d9;

    --white: #fff;
    --white100: #eaeaea;

    // font color
    --font-white: #fdfdfd;
    --font-pink1: #ffc0d9;
    --font-pink2: #ff8cc5;
    --font-purple1: #a295da;
    --font-purple2: #8477c9;
    --font-red: #ff5252;
    --font-blue: #477bff;

    // bg color
    --bg-pink: #fdf0f0;

    // box color
    --box-pink1: #ffc0d9;
    --box-pink2: #ffc5c5;
    --box-purple1: #a295da;
    --box-purple2: #8477c9;

    // border
    --border-pink: #fe8c8c;

    // calender
}

@media (max-width: 1510px) {
    :root {
        font-size: 14px;
    }
}
@media (max-width: 1400px) {
    :root* {
        font-size: 12px;
    }
}
@media (max-width: 1250px) {
    :root* {
        font-size: 11px;
    }
}
@media (max-width: 1000px) {
    :root* {
        font-size: 10px;
    }
}
