#diarylist {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--marc);
    font-weight: 400;
    .diarylist__wrap {
        width: 1210px;
        height: 750px;
        border-radius: 13px;
        overflow: hidden;
        .diarylist__top {
            width: 100%;
            height: 80px;
            background-color: var(--font-purple1);
            display: flex;
            align-items: center;

            .month {
                .prev {
                }
                .h2 {
                }
                .next {
                }
            }
            .title {
            }
            .diary__list__pages {
                ul {
                    display: flex;
                    li {
                        a {
                        }
                    }
                    &.active {
                        a {
                        }
                    }
                }
            }

            .search__wrap {
                width: 350px;
                height: 40px;
                position: relative;
                span {
                    position: absolute;
                    top: 2px;
                    right: 10px;
                    width: 40px;
                    height: 40px;
                    background-image: url(../../img/word_search.png);
                    background-position: center center;
                    background-repeat: no-repeat;
                    cursor: pointer;
                }
                input {
                    width: 350px;
                    height: 40px;
                    padding: 0 40px 0 15px;
                    border: 2px solid var(--font-pink1);
                    border-radius: 30px;
                    font-family: var(--pre);
                }
            }
        }
        .diarylist__bottom {
            width: 100%;
            height: calc(750px - 80px);
            background-color: var(--box-pink3);
            display: flex;
            .list__wrap {
                display: flex;
                flex-wrap: wrap;
                align-content: center;
                justify-content: space-between;
                padding: 0 70px;
                .list {
                    width: 250px;
                    height: 280px;
                    background-color: var(--font-purple1);
                    border: 2px solid var(--font-purple1);
                    border-radius: 30px;
                    overflow: hidden;
                    &:first-child {
                        margin-bottom: 25px;
                    }
                    .weekday {
                        display: flex;
                        align-items: flex-end;
                        height: 40px;
                        font-size: 20px;
                        color: var(--white);
                        padding-left: 15px;
                        text-transform: uppercase;
                        font-family: var(--dela);
                    }
                    .day__diary {
                        background-color: var(--white);
                        height: 240px;
                        padding: 15px;

                        .title {
                            width: 70%;
                            font-size: 20px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        .content {
                            font-size: 18px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 7;
                            -webkit-box-orient: vertical;
                        }
                    }
                }
                .voca__list {
                    width: 250px;
                    height: 280px;
                    background-color: var(--white);
                    background-image: url(../../img/diarylist_voca_bg.jpg);
                    position: relative;
                    .title {
                        position: absolute;
                        top: -15px;
                        width: 100%;
                        text-align: center;
                        background-image: url(../../img/diarylist_voca_title.png);
                        background-repeat: no-repeat;
                        background-position: center center;
                    }
                    ul {
                        padding: 40px 30px 30px 30px;
                        li {
                            display: flex;
                            justify-content: space-between;
                            span {
                                font-size: 18px;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }
}
