#diaryview {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--marc);
    font-weight: 400;
    .diaryview__wrap {
        width: 1210px;
        height: 750px;
        padding: 0 50px;
        margin: 0 10px;
        border-radius: 25px;
        overflow: hidden;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
        border: 10px solid var(--font-pink3);
        background-color: var(--bg-pink);
        .today {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            h3 {
                font-family: var(--dela);
                font-size: 25px;
                background-color: var(--font-pink1);
                color: var(--white);
                padding: 10px 15px 10px 45px;
                margin: 33px 0;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 12px;
                    width: 14px;
                    height: 100%;
                    background-color: var(--font-pink3);
                    z-index: 1;
                }
            }
        }
        .detail {
            display: flex;
            align-items: center;
            justify-content: center;
            .left {
                box-shadow: 2px 4px 10px rgb(0 0 0 / 65%);
                background-image: url(../../img/diaryView_bg_1.png);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                width: 350px;
                height: 550px;
                border-radius: 16px;
                margin-right: 11px;
                position: relative;

                p {
                }
                .spring {
                    background-image: url(../../img/diaryview_spring.png);
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    width: 65px;
                    height: 398px;
                    position: absolute;
                    top: 50%;
                    right: -39px;
                    transform: translateY(-50%);
                    cursor: text;
                }
            }

            .right {
                box-shadow: 2px 4px 10px rgb(0 0 0 / 65%);
                background-image: url(../../img/diaryView_bg_2.png);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                width: 720px;
                height: 550px;
                border-radius: 16px;
                padding: 85px 55px;
                padding: 45px 55px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .rightTitle {
                    // margin-bottom: 30px;
                    font-size: 1.3rem;
                    border-bottom: 5px solid var(--box-pink1);
                    padding: 5px 15px;
                }
                p {
                    font-size: 1rem;
                    cursor: text;
                }
                .btn__wrap {
                    display: flex;
                    justify-content: flex-end;
                    // margin-top: 10px;
                    button {
                        width: 20%;
                        height: 35px;
                        @include btn;
                        border-radius: 5px;
                        background-color: var(--box-pink1);

                        &:hover {
                            background-color: var(--white);
                            color: var(--box-pink1);
                        }
                    }
                    .update {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
