#aside {
    height: 100vh;
    width: 160px;
    border-right: 5px solid var(--font-pink2);
    .aside__wrap {
        height: 100%;
        padding: 30px 15px 0 15px;
        background-color: var(--bg-pink);
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo {
            .logo__text {
                text-align: center;
                font-size: 1rem;
                color: var(--font-pink1);

                em {
                    color: var(--font-purple1);
                }
            }

            .logo__img {
                img {
                    width: 145px;
                }
            }
        }
        .nav {
            ul {
                background: var(--box-pink1);
                width: 145px;

                li {
                    a {
                        text-align: left;
                        width: 100%;
                        display: inline-block;
                        padding: 5px 0px 10px 25px;
                        font-size: 1rem;
                        color: var(--font-purple1);
                        -webkit-text-stroke: 1.5px black;
                    }
                    &:last-child a {
                        padding-top: 20%;
                        color: var(--font-pink2);
                    }

                    .aside__diary {
                        margin-top: -10px;
                        width: 100%;

                        li {
                            line-height: 15px;

                            a {
                                color: var(--font-pink2);
                                box-sizing: border-box;
                                padding: 3px 0px 5px 45px;
                                position: relative;
                                margin-top: 0;

                                &::before {
                                    content: '';
                                    position: absolute;
                                    width: 8px;
                                    height: 8px;
                                    border-radius: 50%;
                                    border: 2px solid black;
                                    background-color: var(--font-pink2);
                                    left: 21%;
                                    top: 20%;
                                }
                            }
                        }
                    }
                }
            }
        }
        .user {
            display: flex;
            flex-direction: column;
            align-items: center;
            .user__profile {
                background-color: var(--box-purple1);
                border-radius: 50%;
                width: 70px;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 52px;
                    height: 52px;
                }
            }

            .user__info {
                display: inline-block;
                width: 100%;
                margin: 5px 0 0 10px;
                span {
                    font-family: var(--pre);
                    font-weight: 600;
                    font-size: 0.9rem;
                }
                .user__name {
                    font-size: 1rem;
                    font-family: var(--mainfont-Shrikhand);
                    color: var(--font-purple1);
                    em {
                        font-size: 0.9rem;
                        color: black;
                    }
                }
            }
        }
    }
}

#header {
    // display: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    .header__wrap {
        display: flex;
        justify-content: center;
        .nav {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 1000px;
            height: 96px;
            background: var(--box-pink2);
            padding: 20px;
            align-items: center;
            border: solid var(--black);
            border-width: 0px 6px 6px 2px;
            border-radius: 0 0 30px 30px;

            .nav__list {
                text-align-last: left;
                display: flex;
                li {
                    a {
                        padding-left: 70px;
                        font-size: 16px;
                        color: var(--white);
                        -webkit-text-stroke: 1px var(--black);

                        &:hover {
                            color: var(--font-purple2);
                        }
                        &.active {
                            color: var(--font-purple2);
                        }
                    }
                }
            }
            .nav__session {
                text-align: right;
                display: flex;

                .right {
                    display: flex;
                    align-items: center;
                    a {
                        color: var(--white);
                        -webkit-text-stroke: 1px var(--black);
                        font-size: 14px;
                        padding-right: 20px;
                        &:hover {
                            color: var(--font-purple1);
                        }
                    }
                }

                .user__info {
                    width: 220px;
                    height: 50px;
                    border-radius: 30px;
                    background-color: var(--white);
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    color: var(--font-pink1);

                    a {
                        display: flex;
                        align-items: center;
                        em {
                            display: inline-block;
                            color: var(--black);
                            font-family: var(--marc);
                            width: 80px;
                        }
                    }
                    img {
                        width: 40px;
                        height: 40px;
                        margin: 0 10px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1280px) {
    #header .header__wrap .nav {
        width: 768px;
        height: 65px;
        padding: 0;
        .nav__list li a {
            padding-left: 50px;
        }
        .nav__session .user__info {
            width: 145px;
            flex-direction: row-reverse;
            margin-right: 15px;
            a {
                em {
                    display: none;
                }
            }
            img {
                margin: 0 2px 0 10px;
            }
        }
    }
}
@media (max-width: 768px) {
    #header .header__wrap .nav {
        width: 480px;
        height: 65px;
        padding: 0;
        .nav__list li a {
            // padding-left: 10px;
            position: relative;
            padding: 0 10px;
        }
        .nav__session .user__info {
            display: none;
            a {
                em {
                    display: none;
                }
            }
        }
    }
}

#header_m {
    display: none;
    
    // position: fixed;
    // top: 0;
    // width: 100%;
    // z-index: 1000;
    // display: flex;
    // justify-content: center;
    .header__wrap {
        display: flex;
        justify-content: center;
        width: 300px;
        height: 50px;
        background-color: var(--box-pink2);
        border: solid var(--black);
        border-width: 0px 6px 6px 2px;
        border-radius: 0 0 30px 30px;
        .logo {
            text-align: center;
            a {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                font-size: 14px;
                line-height: 1;
                padding-top: 5px;
                position: relative;
                -webkit-text-stroke: 1px black;
                width: 105px;

                p:nth-child(1) {
                    width: 50%;
                    text-align: right;
                    padding-right: 1px;
                    z-index: 1;
                    color: var(--box-purple2);
                    display: inline-block;
                }
                p:nth-child(2) {
                    width: 50%;
                    text-align-last: left;
                    padding-left: 1px;
                    z-index: 1;
                    color: var(--font-pink1);
                    display: inline-block;
                }
                em {
                    font-size: 20px;
                    z-index: 1;
                    color: var(--font-pink2);
                    display: inline-block;
                    -webkit-text-stroke: 1.5px black;
                }
                &::before {
                    position: absolute;
                    content: '';
                    width: 105px;
                    height: 30px;
                    background-color: var(--white);
                    top: 10px;
                    z-index: 0;
                    border-radius: 15px;
                }
            }
        }
        .nav {
            position: absolute;
            top: 50px;
            .nav__list {
                width: 300px;
                display: flex;
                position: relative;
                li {
                    width: 70px;
                    height: 30px;
                    border-radius: 0 0 5px 5px;
                    text-align: center;
                    position: relative;
                    display: flex;

                    a {
                        width: 100%;
                        font-size: 14px;
                        color: var(--white);
                        display: none;

                        &.active {
                            height: 100%;
                            z-index: 100;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
                // 자식에 active가 붙었을 때 상위요소에 효과주기..
                li:has(> a.active) {
                    z-index: 100;
                    display: block;
                }

                li:nth-child(1) {
                    position: absolute;
                    top: 0;
                    left: 64px;
                    background-color: #a295d9;
                }
                li:nth-child(2) {
                    position: absolute;
                    top: 0;
                    left: 94px;
                    background-color: #a1c8e7;
                }
                li:nth-child(3) {
                    position: absolute;
                    top: 0;
                    left: 124px;
                    background-color: #fcba4c;
                }
                li:nth-child(4) {
                    position: absolute;
                    top: 0;
                    left: 154px;
                    background-color: #ff8c8c;
                }
                li:nth-child(5) {
                    position: absolute;
                    top: 0;
                    left: 184px;
                    background-color: #f8abc7;
                }
            }
        }
    }
}
