#aside {
    height: 100vh;
    width: 160px;
    border-right: 5px solid var(--font-pink2);
    .aside__wrap {
        height: 100%;
        padding: 30px 15px 0 15px;
        background-color: var(--bg-pink);
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo {
            .logo__text {
                text-align: center;
                font-size: 1rem;
                color: var(--font-pink1);

                em {
                    color: var(--font-purple1);
                }
            }

            .logo__img {
                img {
                    width: 145px;
                }
            }
        }
        .nav {
            ul {
                background: var(--box-pink1);
                width: 145px;

                li {
                    a {
                        text-align: left;
                        width: 100%;
                        display: inline-block;
                        padding: 5px 0px 10px 25px;
                        font-size: 1rem;
                        color: var(--font-purple1);
                        -webkit-text-stroke: 1.5px black;
                    }
                    &:last-child a {
                        padding-top: 20%;
                        color: var(--font-pink2);
                    }

                    .aside__diary {
                        margin-top: -10px;
                        width: 100%;

                        li {
                            line-height: 15px;

                            a {
                                color: var(--font-pink2);
                                box-sizing: border-box;
                                padding: 3px 0px 5px 45px;
                                position: relative;
                                margin-top: 0;

                                &::before {
                                    content: '';
                                    position: absolute;
                                    width: 8px;
                                    height: 8px;
                                    border-radius: 50%;
                                    border: 2px solid black;
                                    background-color: var(--font-pink2);
                                    left: 21%;
                                    top: 20%;
                                }
                            }
                        }
                    }
                }
            }
        }
        .user {
            display: flex;
            flex-direction: column;
            align-items: center;
            .user__profile {
                background-color: var(--box-purple1);
                border-radius: 50%;
                width: 70px;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 52px;
                    height: 52px;
                }
            }

            .user__info {
                display: inline-block;
                width: 100%;
                margin: 5px 0 0 10px;
                span {
                    font-family: var(--pre);
                    font-weight: 600;
                    font-size: 0.9rem;
                }
                .user__name {
                    font-size: 1rem;
                    font-family: var(--mainfont-Shrikhand);
                    color: var(--font-puple1);
                    em {
                        font-size: 0.9rem;
                        color: black;
                    }
                }
            }
        }
    }
}
