#main {
    width: calc(100% - 160px);
    height: 100vh;

    .main__wrap {
        display: flex;
        justify-content: space-between;
        height: 100vh;
        .left {
            width: 50%;
            border-right: 10px solid var(--bg-pink);

            .date__info {
                .date__today {
                    width: 280px;
                    height: 50px;
                    line-height: 50px;
                    background-color: var(--bg-pink);
                    border-radius: 10px;
                    text-align: center;

                    span {
                        font-family: var(--dela);
                        font-size: 1.2rem;
                    }
                }

                .calendar {
                }
            }
        }
        .right {
            width: 50%;
            border-left: 10px solid var(--bg-pink);

            .main__diary {
                padding: 0 30px;
                margin: 0 auto;

                .diary__list {
                    .list__title {
                        p {
                            height: 52px;
                            width: 29%;
                            line-height: 52px;
                            font-size: 1.6rem;
                            letter-spacing: 1px;
                            background-color: var(--box-purple1);
                            color: var(--font-white);
                            text-align: center;
                        }
                    }
                    .tabWrap {
                        margin-top: -45px;
                        .btnWrap {
                            display: flex;
                            justify-content: flex-end;

                            button {
                                width: 13%;
                                height: 50px;
                                background-color: #fff;
                                font-size: 1.5rem;
                                font-weight: bold;
                                color: var(--font-purple1);
                                border: 2px solid var(--font-purple1);
                                border-bottom: none;
                                font-family: var(--dela);
                                cursor: pointer;
                                transition: all 0.1s;

                                &:hover {
                                    background-color: var(--font-purple1);
                                    color: var(--font-white);
                                }
                            }
                            .active {
                                background-color: var(--font-purple1);
                                color: var(--font-white);
                            }
                        }

                        .diary__tab {
                            width: 100%;
                            .tab__box {
                                a {
                                    display: block;
                                    background-color: #fff;
                                }
                                width: 100%;
                                height: 250px;
                                padding: 20px;
                                position: relative;
                                z-index: 5;
                                background-color: #fff;
                                overflow: hidden;
                                h4 {
                                    font-size: 1.4rem;
                                }
                                p {
                                    font-size: 1.1rem;
                                    font-family: 'Poppins';
                                    font-weight: 400;
                                    letter-spacing: -0.7px;
                                    overflow-y: scroll;
                                    height: 130px;
                                }
                                &::before,
                                &::after {
                                    content: '';
                                    position: absolute;
                                    width: 101%;
                                    height: 101%;
                                    border: solid var(--box-purple2);
                                    border-width: 1px 1px 5px 5px;
                                    border-radius: 7px;
                                    z-index: -3;
                                    margin: 0;
                                    z-index: -1; /* 수정 */
                                    box-sizing: border-box; /* 추가 */
                                }
                                &::before {
                                    top: -2px;
                                    left: -5px;
                                    display: none;
                                }

                                &::after {
                                    top: 0px;
                                    left: -8.2px;
                                }
                            }
                        }
                    }
                }
                .voca__list {
                    .list__title {
                        p {
                            height: 52px;
                            width: 28.7%;
                            line-height: 52px;
                            font-size: 1.6rem;
                            letter-spacing: 1.2px;
                            background-color: var(--border-pink);
                            text-align: center;
                            font-family: var(--dela);
                            font-weight: 900;
                        }
                    }
                    .my__list {
                        width: 90%;
                        margin: 0 auto 10px auto;
                        font-family: var(--marc);
                        font-weight: 400;
                        position: relative;

                        .list__key {
                            display: inline-block;
                            width: 50%;
                        }
                        .list__value {
                            display: inline-block;
                            width: 50%;
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            bottom: -20%;
                            left: 0;
                            background-color: var(--border-pink);
                            width: 100%;
                            height: 2px;
                        }
                    }
                }
            }
        }
    }
}
