#main {
    width: calc(100% - 160px);
    height: 100vh;

    .main__wrap {
        display: flex;
        justify-content: space-between;
        height: 100vh;
        .left {
            width: 50%;
            border-right: 10px solid var(--bg-pink);

            .date__info {
                .date__today {
                    width: 280px;
                    height: 50px;
                    line-height: 50px;
                    background-color: var(--bg-pink);
                    border-radius: 10px;
                    text-align: center;

                    span {
                        font-family: var(--dela);
                        font-size: 1.2rem;
                    }
                }

                .calendar {
                }
            }
        }
        .right {
            width: 50%;
            border-left: 10px solid var(--bg-pink);

            .main__diary {
                padding: 0 30px;
                margin: 0 auto;
                .diary__list {
                    .list__title {
                        p {
                            width: 20%;
                            height: 52px;
                            background-color: var(--box-purple1);
                            color: var(--font-white);
                        }
                    }
                }

                .diary__tab {
                    width: 100%;
                    .tab__box {
                        width: 100%;
                        height: 250px;
                        padding: 20px;
                        h4 {
                        }
                        p {
                        }
                    }
                }
            }
        }
    }
}
