.passmodal {
    width: 500px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
    background-color: #fff;

    .passmodal__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .logo {
            width: 100%;
            text-align: center;
            font-size: 1rem;
            color: var(--font-pink1);
            font-family: 'Shrikhand', serif;
            margin-top: 50px;

            span {
                color: var(--font-purple1);
            }
        }

        h2 {
            width: 100%;
            font-family: 'Shrikhand', serif;
            text-align: center;
            margin-top: -10px;
        }

        .filePondWrap {
            width: 100%;
            text-align: center;

            .custom-filepond {
                width: 80%;
                height: 180px;
                margin: 0 auto;
                overflow-y: scroll;
                display: flex;
            }
        }

        button {
            padding: 10px 20px;
            margin-top: 10px;
            margin: 5px;
            color: #fff;
            font-family: 'Shrikhand', serif;
        }

        .submit {
            background-color: var(--font-pink1);
        }

        .close {
            background-color: var(--font-purple1);
        }
    }
}
