#vocalist {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    .vocalist__wrap {
        display: flex;
        font-size: 18px;
        font-weight: normal;
        .voca__right {
            width: 24vw;
            height: 76.2vh;
            margin: 0 0.5vw;
            background-color: var(--box-purple3);
            border-radius: 13px;
            overflow: hidden;
            h2 {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 60px;
                background-color: var(--box-purple1);
                color: var(--white);
                -webkit-text-stroke: 1.3px var(--black);
                font-size: 25px;
            }
            .contents {
                height: calc(100% - 120px);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .contents__top {
                    .searchlist__voca__title {
                        display: flex;
                        justify-content: center;
                        padding: 30px;
                        &::before {
                            content: '';
                            display: block;
                            width: 25px;
                            height: 25px;
                        }
                        h3 {
                            width: calc(60% - 12.5px);
                            font-size: 16px;
                            font-family: var(--dela);
                            color: var(--box-purple1);
                            text-align: center;
                            &:first-child {
                                width: calc(40% - 12.5px);
                            }
                        }
                    }
                    .correctionlist__voca__title {
                        display: flex;
                        justify-content: center;
                        padding: 30px;
                        &::before {
                            content: '';
                            display: block;
                            width: 25px;
                            height: 25px;
                        }
                        h3 {
                            width: calc(50% - 12.5px);
                            font-size: 16px;
                            font-family: var(--dela);
                            color: var(--box-purple1);
                            text-align: center;
                        }
                    }
                    > div {
                        padding: 0 30px;
                        label {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            user-select: none;
                            cursor: pointer;
                            margin-top: 10px;
                            &:first-child {
                                margin-top: 0;
                            }
                            input {
                                width: 20px;
                                height: 20px;
                                border: 1.5px solid gainsboro;
                                border-radius: 0.35rem;
                                margin: 5px 5px 0 0;
                                cursor: pointer;
                            }

                            input[type='checkbox']:checked {
                                margin: 0;
                                width: 25px;
                                height: 25px;
                                background-image: url('../../img/checkbox.png');
                                background-size: 100% 100%;
                                background-position: 50%;
                                background-repeat: no-repeat;
                                border: none;
                            }
                            p {
                                text-align: center;
                                padding-top: 5px;
                                font-family: var(--pre);
                                width: calc(50% - 12.5px);
                            }
                            .meaning {
                                width: calc(40% - 12.5px);
                            }
                            .word {
                                width: calc(60% - 12.5px);
                            }
                            .wrong {
                                color: var(--font-red);
                            }
                            .correct {
                                color: var(--font-blue);
                            }
                        }
                    }
                    .correctionlist__voca__contents {
                        overflow-y: scroll;
                        height: 444px;
                    }
                }
                .contents__bot {
                    .select__all {
                        padding: 0 15px;
                        margin: 0 15px;
                        border-top: 3px solid var(--black300);
                        label {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            user-select: none;
                            cursor: pointer;
                            margin: 10px 0;
                            input {
                                width: 20px;
                                height: 20px;
                                border: 1.5px solid gainsboro;
                                border-radius: 0.35rem;
                                margin: 0px 5px 0 0;
                                cursor: pointer;
                            }

                            input[type='checkbox']:checked {
                                margin: 0;
                                width: 25px;
                                height: 25px;
                                background-image: url('../../img/checkbox.png');
                                background-size: 100% 100%;
                                background-position: 50%;
                                background-repeat: no-repeat;
                                border: none;
                            }
                            p {
                                text-align: center;
                                padding-top: 0px;
                                font-family: var(--pre);
                                padding-left: 20px;
                                padding-bottom: 2px;
                            }
                        }
                    }
                }
            }
            .searchlist__btn {
                height: 60px;
                background-color: var(--box-purple1);
                > button {
                    width: 50%;
                    height: 100%;
                    font-size: 18px;
                    font-family: var(--dela);
                    color: var(--white);
                    background-color: var(--box-purple1);
                }
                .add__btn {
                    height: 80%;
                    margin: 6.4px 0;
                    border-right: 2px solid var(--white);
                }
            }
            .correction__btn {
                height: 60px;
                background-color: var(--box-purple1);
                > button {
                    width: 50%;
                    height: 100%;
                    font-size: 18px;
                    font-family: var(--dela);
                    color: var(--white);
                    background-color: var(--box-purple1);
                }
                .add__btn {
                    height: 80%;
                    margin: 6.4px 0;
                    border-right: 2px solid var(--white);
                }
            }
        }
        .mycollection {
            width: 24vw;
            height: 76.2vh;
            margin: 0 0.5vw;
            background-color: #797575;
            position: relative;
            h2 {
                position: absolute;
                top: -20px;
                right: 7vw;
            }
        }
        .searchlist {
            h2 {
            }
        }
        .correction {
            h2 {
            }
        }
    }
}
