.react-calendar {
    width: 50rem;
    // height: 600px;
    height: 75vh;
    max-width: 100%;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;

    .react-calendar__navigation {
        max-width: 100% !important;
        width: 70vw;
        padding-bottom: 30px;
        display: flex;
        position: relative;

        button {
            width: 50px;
            height: 30px;
            line-height: 20px;
            border-radius: 5px;
            border: solid var(--black);
            border-width: 1px 2px 2px 1px;
            cursor: pointer;

            :hover {}
        }

        .react-calendar__navigation__label {
            order: -1;
            flex-grow: 0 !important;
            width: 20.5vw !important;
            max-width: 338px !important;
            min-width: 230px !important;
            line-height: 55px;
            height: 50px;
            border-radius: 10px;

            background-color: var(--bg-pink);

            font-size: 1.5rem;
            font-family: var(--mainfont-Shrikhand);

            padding: 0 1%;
            // margin-right: 17vw;
            white-space: nowrap;

            .my-custom-navigaiton {
                span {}
            }
        }

        .react-calendar__navigation__arrow {
            width: 2.6vw !important;
            // max-width: 50px !important;
            min-width: 30px !important;
            height: 35px;
            font-size: 1.5rem;
            background-color: var(--font-purple1);
            color: #fff;
            margin-top: 20px;
            position: absolute;
            top: -7%;
        }

        .react-calendar__navigation__prev-button {
            order: 2;
            right: 7%;
            margin-right: 3px;

        }

        .react-calendar__navigation__next-button {
            order: 3;
            right: 0%;
        }

        .react-calendar__navigation__prev2-button {
            display: none;
            background-color: var(--font-pink1);
            color: black;
            font-family: var(--mainfont-Shrikhand);
            margin-right: 15px;
            width: 6vw !important;
            max-width: 120px !important;
        }

        .react-calendar__navigation__next2-button {
            display: none;
        }

    }

    .react-calendar__viewContainer {
        width: 100%;
        border: 4px solid var(--font-pink1);
        font-family: 'Pretendard';

        .react-calendar__tile {
            height: 120px;
            height: 16vh;

            font-size: 1vw;
            font-weight: bold;
            background-color: #fff;
            border: 1px solid var(--font-pink1);
            transition: all 0.2s;
            position: relative;

            &:hover {
                background-color: var(--font-pink1);
                color: #fff;
            }

            .diary__check {
                position: absolute;
                text-align: start;
                top: 40%;
                left: 30%;
                display: inline-block;
                background-color: #fff;
                border-radius: 5px;
                padding: 5px;
            }
        }

        // 534 / 485
        .react-calendar__month-view {
            cursor: pointer;

            .react-calendar__month-view__weekdays {
                .react-calendar__month-view__weekdays__weekday {
                    width: 100%;
                    text-align: center;
                    padding: 1% 0;
                    border-bottom: 1px solid var(--font-pink1);
                    border-right: 1px solid var(--font-pink1);

                    abbr {
                        font-size: 1rem;
                        text-decoration: none;
                    }

                    &:first-child {
                        color: #d10000;
                    }

                    &:last-child {
                        color: rgb(3, 3, 204);
                        border-right: none;
                    }
                }
            }

            .react-calendar__month-view__days {
                button {
                    background-color: #fff;
                    width: 100%;
                    height: 90px;
                    height: 10.7vh;
                    border-right: 1px solid var(--font-pink1);
                    border-bottom: 1px solid var(--font-pink1);
                    text-align: right;
                    padding: 0 1% 0% 0;
                    color: black;

                    abbr {
                        font-size: 0.9rem;
                        display: inline-block;
                        width: 100%;
                        padding-bottom: 50%;
                        // padding-bottom: 30px;
                        font-weight: bold;
                        cursor: pointer;

                    }

                    &:hover {
                        background-color: var(--bg-pink);
                        color: #161616;

                        abbr {
                            font-size: 1.1rem;
                        }
                    }
                }

                .react-calendar__tile--now {
                    background: #ffff76;
                }

                .react-calendar__tile--now:enabled:hover,
                .react-calendar__tile--now:enabled:focus {
                    background: #ffffa9;
                }

                .react-calendar__month-view__days__day--weekend {
                    color: #d10000;

                    &:hover {
                        color: #aa1616;
                    }
                }

                .saturday {
                    border-right: none;
                    color: rgb(3, 3, 204);

                    &:hover {
                        color: rgb(2, 2, 99);
                    }
                }

                .react-calendar__month-view__days__day--neighboringMonth {
                    color: var(--black200);
                }
            }
        }

        .react-calendar__year-view {
            cursor: pointer;
        }

        .react-calendar__century-view__decades__decade:nth-child(8),
        .react-calendar__century-view__decades__decade:nth-child(9),
        .react-calendar__century-view__decades__decade:nth-child(10),
        .react-calendar__decade-view__years__year:nth-child(8),
        .react-calendar__decade-view__years__year:nth-child(9),
        .react-calendar__decade-view__years__year:nth-child(10) {
            outline: 1px solid var(--font-pink1);
        }

    }
}

@media (max-width: 1100px) {
    .react-calendar__navigation {
        padding-bottom: 20px !important;
    }

    .react-calendar__navigation__label {}

    .react-calendar__navigation__arrow {
        // left: 26.5vw;
        top: -10% !important;
    }

    .react-calendar__navigation__prev-button {}

    .react-calendar__navigation__next-button {
        // left: 30vw;
        right: 2% !important;
    }
}

@media (max-width: 800px) {
    .react-calendar__navigation {}

    .react-calendar__navigation__label {}

    .react-calendar__navigation__arrow {
        top: -10% !important;
    }

    .react-calendar__navigation__prev-button {}

    .react-calendar__navigation__next-button {
        right: 1vw !important;
    }
}

@media (max-width: 700px) {
    .react-calendar__navigation {}

    .react-calendar__navigation__label {}

    .react-calendar__navigation__arrow {
        border-radius: 0px !important;
    }

    .react-calendar__navigation__prev-button {
        border-right: none !important;
        border-bottom-left-radius: 8px !important;
        border-top-left-radius: 8px !important;
    }

    .react-calendar__navigation__next-button {
        border-left: none !important;
        border-bottom-right-radius: 8px !important;
        border-top-right-radius: 8px !important;
    }
}