.react-calendar {
    width: 50rem;
    height: 600px;
    max-width: 100%;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    
    .react-calendar__navigation {
        height: 50px;
        display: flex;
        justify-content: space-between;
        
        button {
            width: 10%;
            height: 48px;
            background-color: #fff;
        }
        .react-calendar__navigation__arrow {
            font-size: 1.5rem;
        }
        .react-calendar__navigation__label {
            font-size: 1.2rem;
            line-height: 55px;
        }
    }

    .react-calendar__viewContainer {
        width: 100%;
        border: 4px solid var(--font-pink1);
        
        .react-calendar__month-view {
            .react-calendar__month-view__weekdays {
                .react-calendar__month-view__weekdays__weekday {
                    width: 100%;
                    text-align: center;
                    padding: 1% 0;
                    border-bottom: 1px solid var(--font-pink1);
                    border-right: 1px solid var(--font-pink1);
                    abbr {
                        font-size: 1rem;
                        text-decoration: none;
                    }
                    &:first-child {
                        color: #d10000;
                    }
                    &:last-child {
                        color: rgb(3, 3, 204);
                        border-right: none;
                    }
                }
            }
            
            .react-calendar__month-view__days {
                button {
                    background-color: #fff;
                    width: 100%;
                    height: 90px;
                    border-right: 1px solid var(--font-pink1);
                    border-bottom: 1px solid var(--font-pink1);
                    text-align: right;
                    padding: 0 1% 0% 0;

                    abbr {
                        font-size: 0.9rem;
                        display: inline-block;
                        width: 100%;
                        padding-bottom: 50%;
                        font-weight: bold;
                    }
                }
                .react-calendar__tile--now {
                    background: #ffff76;
                  }
                  
                .react-calendar__tile--now:enabled:hover,
                .react-calendar__tile--now:enabled:focus {
                  background: #ffffa9;
                }
                .react-calendar__month-view__days__day--weekend {
                    color: #d10000;
                }             
                .saturday {
                    border-right: none;
                    color: rgb(3, 3, 204);
                }   
            }
        }
    }
    
}



    // &--doubleView {
    //     width: 700px;
        
    //     & .react-calendar__viewContainer {
    //         display: flex;
    //         margin: -0.5em;
    //         & > * {
    //             width: 50%;
    //             margin: 0.5em;
    //         }
    //     }
    // }

    // *,
    // *:before,
    // *:after {
    //     -moz-box-sizing: border-box;
    //     -webkit-box-sizing: border-box;
    //     box-sizing: border-box;
    // }

    // button {
    //     margin: 0;
    //     outline: none;

    //     &:enabled:hover {
    //         cursor: pointer;
    //     }

    //     &:disabled {
    //         background-color: #943a3a;
    //     }

    //     &:enabled:hover,
    //     &:enabled:focus {
    //         background-color: #943a3a;
    //     }
    // }

    // &__navigation {
    //     display: flex;
    //     height: 44px;
    //     margin-bottom: 1em;
    // }

    // &__month-view {
    //     border-top: 1px solid var(--font-pink1);
    //     border-bottom: 1px solid var(--font-pink1);

    //     &__weekdays {
    //         text-align: center;
    //         text-transform: uppercase;
    //         font: inherit;
    //         font-size: 0.75em;
    //         font-weight: bold;

    //         &__weekday {
    //             border: 1px solid var(--font-pink1);

    //             padding: 0.5em;
    //         }
    //     }

    //     &__weekNumbers .react-calendar__tile {
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         font: inherit;
    //         font-size: 0.75em;
    //         font-weight: bold;
    //     }

    //     &__days {
    //         &__day {
    //             border: 1px solid var(--font-pink1);
    //             &--weekend {
    //                 color: #d10000; // 주말 글자
    //             }

    //             &--neighboringMonth {
    //                 color: #757575; //평일
    //             }
    //         }
    //     }
    // }

    // // 달력 미리보기
    // &__year-view .react-calendar__tile,
    // &__decade-view .react-calendar__tile,
    // &__century-view .react-calendar__tile {
    //     padding: 2em 0.5em;
    // }

    // &__tile {
    //     max-width: 100%;
    //     padding: 10px 6.6667px;
    //     background: none;
    //     text-align: center;
    //     line-height: 16px;
    //     font: inherit;
    //     font-size: 0.833em;

    //     &:disabled {
    //         background-color: #f0f0f0;
    //     }

    //     &:enabled {
    //         &:hover,
    //         &:focus {
    //             background-color: #e6e6e6;
    //         }
    //     }

    //     &--now {
    //         background: #ffff76;

    //         &:enabled {
    //             &:hover,
    //             &:focus {
    //                 background: #ffffa9;
    //             }
    //         }
    //     }

    //     &--hasActive {
    //         background: #76baff;

    //         &:enabled {
    //             &:hover,
    //             &:focus {
    //                 background: #a9d4ff;
    //             }
    //         }
    //     }

    //     &--active {
    //         background: #006edc;
    //         color: white;

    //         &:enabled {
    //             &:hover,
    //             &:focus {
    //                 background: #1087ff;
    //             }
    //         }
    //     }
    // }

    // &--selectRange .react-calendar__tile--hover {
    //     background-color: #e6e6e6;
    // }

